// Custom Color
$custom-primary-color: #71439a;
//body styles
body {
  margin-top: 3.5rem;
}

// Navbar styles
.login-link {
  border-radius: 0.25rem;
  float: right;
}

// Register form styles
.register-form {
  text-align: center;
  max-width: 500px;
}
.user-icon {
  font-size: 5rem;
}

// Login and signup pages
.login-page {
  text-align: center;
  background-color: #eee;
}
.w-small {
  width: 18rem;
}
form {
  text-align: left;
}
.user-icon {
  margin-bottom: 2rem;
  width: 7rem;
}

//Account icon styles
.accountIcon i {
  color: $custom-primary-color;
  &:hover {
    color: #502675;
  }
}
.accountIcon > a.dropdown-toggle::after,
.recordActions > button.dropdown-toggle::after {
  display: none;
}

//Record action Menu
.recordActions > button.dropdown-toggle {
  padding-top: 0;
  padding-bottom: 0;
  border: none;
}
@mixin custom-bgcolor {
  background-color: $custom-primary-color;
}
.marketing-card-deck {
  margin-top: 5rem;
}
.marketing-card {
  border: none;
  h3,
  i {
    color: $custom-primary-color;
  }
  a {
    border: none;
    @include custom-bgcolor;
    &:hover {
      background-color: #502675;
    }
  }
  .card-footer {
    background-color: transparent;
    border: none;
  }
}

.chevronIcon {
  /*   background-color: #CCC; */
  color: $purple;
  transition: 0.3s;
}
.inverted {
  transform: rotate(180deg); /* Standard syntax */
}
